<!DOCTYPE html>
<html lang-"eng">
    <head>
        <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale-1" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="icon-bar">
                        <a href="http://0.0.0.0:8080">
                            Chat Room Demo
                        </a>
                    </span>
                </div>
            </div>
        </nav>
        <main class="container">
            <div class="md-margin-top">
                <h2>Chat Room Demo</h2>
                <div class="container sm-margin-top">
                    <div class="container sm-margin-top">
                        <div class="row text-center lg-margin-bottom">
                            <h1><center>Welcome To the Customer Service Chat System<center></h1>
                            <div class="well">
                                <p>
                                    As an Analyst, you can login with a unique nickname. After login, you can
                                    receive chatting request(s) from clients.
                                </p>
                                <p>
                                    As a client, you can login with a unique nickname. After login, you can
                                    start chatting anytime. An analyst will be automatically picked to help
                                    answer any of your questions.
                                </p>
                                <p>
                                    Due to time constraint, current version of the app does not have UI support
                                    yet. All chatting services are provided via APIs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

