<!DOCTYPE html>
<html lang-"eng">
    <head>
        <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale-1" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="icon-bar">
                        <a href="http://0.0.0.0:8080">
                            Chat Room Demo
                        </a>
                    </span>
                </div>
            </div>
        </nav>
        <main class="container">
            <div class="md-margin-top">
                <h2>Chat Room Demo</h2>
                <div class="container sm-margin-top">
                    <div class="container sm-margin-top">
                        <div class="row text-center lg-margin-bottom">
                            <h1><center>Welcome To the Customer Service Chat System<center></h1>
                            <div class="well">
                                <p>
                                    As an Analyst, you have to be registered. To register, you need to provide
                                    your nickname and password to the system administrator. He/She will add your
                                    nickname and password into the system, such that you can login to receive
                                    chatting request(s) from clients.
                                </p>
                                <p>
                                    As a client, you can request to start chatting with an analyst.
                                    What you need is just a nickname whent send the request. If an analyst is
                                    available, a session will be created for you, and you can start chatting
                                    with the connected analyst. Otherwise, you will get an error message.
                                </p>
                                <p>
                                    Due to time constraint, current version of the app does not have UI support
                                    yet, except for the analyst registration functionality. All chatting services
                                    are provided via APIs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

